@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 4rem;
    background-color: #f8f8f8;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 1200px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}